/* Styles for the display button */
.display-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #f4f5f8;
  color: #000000;
  border-radius: 5px;
  box-shadow: 4px 5px 5px 0px rgb(228, 228, 228);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.display-button span {
  margin: 0 5px;
}

/* Navbar container styles */
.navbar-container {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0px;
  background-color: white;
  position: relative;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .dropdown {
    position: static;
    width: 100%;
  }

  .navbar-container {
    width: 94.5%;
  }
}

/* Dropdown styles */
.dropdown {
  width: 250px;
  border-radius: 8px;
  position: absolute;
  margin-top: -17px;
  top: 100%;
  left: 20px;
  z-index: 1000;
  background-color: #f4f5f8;
  border: 0.5px solid #bbbbbb;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form row styles */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #7e7d7d;
}

/* Form row select styles */
.form-row select {
  width: 90px;
  padding-left: 3px;
  border-radius: 5px;
  border: 0.5px solid #bbbbbb;
  background-color: #fff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}